from .client import Client, AuthenticatedClient
from typing import Union, Any
from http import HTTPStatus
from .types import UNSET, Unset

{% for import in imports | sort %}
{{ import }}
{% endfor %}

{% for endpoint in endpoints %}
from .api.default import {{ endpoint.name }}
{% endfor %}

{% from "endpoint_macros.py.jinja" import header_params, cookie_params, query_params, json_body, multipart_body,
    arguments, arguments_passing, arguments_no_client, client, kwargs, parse_response, docstring %}

class SyncAuthenticatedOperations:
    def __init__(self, client: AuthenticatedClient) -> None:
        self._client = client

    {% for endpoint in endpoints %}
    {% if endpoint.requires_security %}
    def {{ endpoint.name }}(self, {{ arguments_no_client(endpoint) | indent(4)}}) -> {{ endpoint.success_response_type() }}:
        {{ docstring(endpoint, endpoint.success_response_type()) | indent(4) }}
        {% if endpoint.success_response_type() != "None" %}
        response = {{ endpoint.name }}.sync(
            {{ arguments_passing(endpoint) | indent(8)}}
        )

        if response is None:
            raise Exception("No response")

        assert isinstance(response, {{ endpoint.success_response_type() }})
        return response
        {%else%}
        {{ endpoint.name }}.sync(
            {{ arguments_passing(endpoint) | indent(8)}}
        )
        {% endif %}
    {% endif %}
    {% endfor %}


class SyncOperations:
    def __init__(self, client: Client) -> None:
        self._client = client

    {% for endpoint in endpoints %}
    {% if endpoint.requires_security %}

    {% else %}
    def {{ endpoint.name }}(self, {{ arguments_no_client(endpoint) | indent(4)}}) -> {{ endpoint.success_response_type() }}:
        {{ docstring(endpoint, endpoint.success_response_type()) | indent(4) }}
        {% if endpoint.success_response_type() != "None" %}
        response = {{ endpoint.name }}.sync(
            {{ arguments_passing(endpoint) | indent(8)}}
        )

        if response is None:
            raise Exception("No response")

        assert isinstance(response, {{ endpoint.success_response_type() }})
        return response
        {%else%}
        {{ endpoint.name }}.sync(
            {{ arguments_passing(endpoint) | indent(8)}}
        )
        {% endif %}
    {% endif %}
    {% endfor %}
